.home-page{
    background-color: rgb(48,48,48);
    color: white;
}

.home-page a{
    color: turquoise;
}

.home-page img{
    width: 40vh;
}

.row{
    border-top: 10px solid darkorange;
    padding-top: 2vh;
}