*{
    margin: 0;
    padding: 0;
}

.home-page{
    background-color: rgb(48,48,48);
    color: white;
}

.header{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 5px solid darkorange;
    font-size: 62.5%;
    padding-top: 2%;
}



.content p{
    padding: 10px;
    justify-self: right;
    max-width: 35rem;
    font-size: clamp(2vh, 5vw, 6vh);
    border-radius: 2vh;
    line-height: 1.5;
}

.content a{
    text-align: center;
}

.content img{
    justify-self: start;
    width: clamp(0.5rem, 100%, 35rem);
    border-radius: 2vh;
}

.to-java-btn{
    color: black;
    background-color:#dc143c;
    border: 1px solid #dc143c;
    border-radius: 1vh;
}

.to-java-btn:hover{
    color: rgb(58, 0, 0);
    background-color: #ce1237;
    border: 1px solid #ce1237;
}

a{
    text-decoration: none;
}

#resume{
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.name{
    font-size: 6vh;
    margin-top: 4vh;
    text-align: center;
    font-weight: bold;
}

.contact{
    text-align: center;
}

.resumeTitles{
    line-height: 6vh;
    text-align: center;
    font-weight: bold;
}

.bulletLists{
    text-indent: 6vh;
}